/* /monthly text */
.subscription-details
{
display: none;
}

/* Subsciption price font */
.price.subscription-price, 
.price.one-time-price {
    font-size: 17px!important;
}

.donation-frequency-container label {
   font-size: 15px;
}

.donation-frequency-container .price {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;    
    display: inline-block;   
}

.product_title.entry-title {
    font-size: 1.9em!important;     
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 767px) {
 .woocommerce div.product span.price 
{
        font-size: 14px !important; 
    }

    .product_title.entry-title {
        font-size: 1.5em; 
    }